<h3>Estimado <%=@job.company.title%>,</h3>
<p>
  La vacante <strong style="color:#00575A;"><%= @job.title%></strong> expiró hoy (<%= I18n.l(@job.expiration_date.to_date, :format => :long) %>).
  <br/>
  Si desea republicar la vacante en este momento de click <%= link_to "aquí", publish_job_url(@job) %>
</p>
<p>
  <strong>Equipo de Ofertas Hacker</strong>
  <br />
  <%= image_tag  full_image_url('logo_email.png') %>
</p>
