<%custom_title "Manejar skills"%>

<h1>Skills</h1>
<% for skill_category in @skill_categories %>
  <p>
    <%= skill_category.category%>      
    <%= link_to "Ver", skill_category %> 
    <% if can? :manage, skill_category%>
     | <%= link_to "Editar", edit_skill_category_path(skill_category) %> |
      <%= link_to "X", skill_category, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </p>
  <% end %>
</table>

<div class="new_skill" style="display:none">
<%form_for @skill_category do |f|%>
  <p>
    <%= f.text_field :category %>
    <%= f.submit "Crear" %>
  </p>
<% end %>
</div>
<p><%= link_to "Crear nueva categoria", "#", :class => "button", :id => "new_skill_trigger" %></p>
