<%custom_title "Manejar skills"%>

<h1>Skills</h1>
<table id="skills">
<% for skill_category in @skill_categories %>
  <tr>
    <td><%= link_to skill_category.category, skill_category%> </td>     
    <% if can? :manage, skill_category%>
      <td id="buttons">
       <%= link_to "Editar", edit_skill_category_path(skill_category) %> |
      <%= link_to "X", skill_category, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    <% end %>
  </tr>
  <% end %>
</table>

<div class="new_skill" style="display:none">
<%= form_for @skill_category do |f|%>
  <p>
    <%= f.text_field :category %>
    <%= f.submit "Crear" %>
  </p>
<% end %>
</div>
<p><%= link_to "Crear nueva categoria", "#", :class => "button", :id => "new_skill_trigger" %></p>
