
<%custom_title "Ver categoria"%>
<h1><%=@skill_category.category%></h1>
<div id ="buttons">
<%= link_to "Ver Todas", skill_categories_path, :class => 'button' %>
<% if can? :manage, @skill_category%>
  <%= link_to "Editar", edit_skill_category_path(@skill_category), :class=>'button' %> 
  <%= link_to "Borrar", @skill_category, :confirm => '¿Estas seguro de que deseas borrarlo?', :method => :delete, :class => 'button delete' %> 
<% end %>
</div>
<div id="skills">
  <h2>Habilidades de esta categoría</h2>
  <table id = "skills">
    <% for skill in @required_skills do%>
      <tr>
        <td><%=skill.skill_name%></td>
        <td id="buttons">
          <% if can? :manage, RequiredSkill%>
            <%= link_to "Editar", edit_skill_category_required_skill_path(@skill_category, skill) %> |
            <%= link_to "X", [@skill_category, skill], :confirm => '¿Estas seguro de que deseas borrarlo?', :method => :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<br/>

<div class="new_skill" style="display:none">
  <%form_for [@skill_category, @required_skill] do |f|%>
    <p>
    <%=f.text_field :skill_name, :required=>'required'%>
    <%=f.hidden_field :skill_category_id, :value => @skill_category.id %>
    <%=f.submit "Crear nueva habilidad"%>
    </p>
  <%end%>


</div>
<%= link_to "Crear nueva habilidad", "#", :class => "button", :id => "new_skill_trigger" %>
