
<%custom_title "Ver categoria"%>
<h1><%=@skill_category.category%></h1>
<p>
  <% if can? :manage, @skill_category%>
    <%= link_to "Editar", edit_skill_category_path(@skill_category) %> |
    <%= link_to "X", @skill_category, :confirm => '¿Estas seguro de que deseas borrarlo?', :method => :delete %> |
  <% end %>
  <%= link_to "Ver Todas", skill_categories_path %>
</p>
<div id="skills">
  <h2>Habilidades de esta categoría</h2>
  <ul>
  <% for skill in @required_skills do%>
    <li>
      <%=skill.skill_name%>
      <% if can? :manage, RequiredSkill%>
        <%= link_to "Editar", edit_required_skill_path(skill) %> |
        <%= link_to "X", skill, :confirm => '¿Estas seguro de que deseas borrarlo?', :method => :delete %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
<br/>

<div id="new_skill" style="display:none">
  <%= render "required_skills/form" %>
</div>
<%= link_to "Crear nueva habilidad", "#", :class => "button", :id => "new_skill_trigger" %>
