<h3>¿Qué le quieres decir a la empresa?</h3>

<%= form_tag contact_company_job_path(job) do %> 
  <%= label_tag t('.name') %>
  <%= text_field_tag :name, nil, :class => "required", :value => cookies[:name] %>        
  <%= label_tag t('.email') %>	 
  <%= text_field_tag :email, nil, :class => "required email", :value => cookies[:email] %>
  <%= label_tag t('.message') %>
  <li class="textarea"><%= text_area_tag :message, nil, :class => "required" %></li>
  <%= submit_tag "Enviar mensaje", :class=>"button right"%>
<% end %>
