<div class="mainContent clear span-24">
  <hr width="100%" class="topSpacing"/>
  <div class="infoCompany span-4 last">
    <p>Datos de la oferta</p>
  </div>
  <div class="generalForm span-20 last">
    <%= form_for @job do |f| %> 
      <% if @job.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
          <ul>
          <% @job.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>   
	    <div class="firstColumn span-9 prepend-1">
		<h1><%=t('.title') + " *" %></h1>
        <%= f.text_field :title, :required => "required" %></p>
        
			  	<h1><%=t('.city') + " *" %></h1>	 
         <%=f.text_field :city, :class => 'city_autocomplete', :required => "required"%></p>
      </div>
      
	    <div class="secondColumn span-9 prepend-1 last">
		    <h1><%= t('.job_type') %>:</h1>
		    <ul>
		      <li><%= f.check_box :full_time %> <%= f.label :full_time %> </li>
		      <li><%= f.check_box :remote %> <%= f.label :remote %></li>
		      <li><%= f.check_box :part_time %> <%= f.label :part_time %></li>
		      <li><%= f.check_box :flexible %> <%= f.label :flexible %></li>
		    </ul>
	    </div>
   </div>
	  <div class="divShadow span-24">
      <div class="infoCompany span-4 last">
	      <p><%= t('.required_profile') %></p>
      </div>
      <div class="part2 span-20 last">
       
        <% for category in SkillCategory.all %>
            <h1><%= category %></h1>
             <ul>
              <% for skill in category.required_skills %>
		            <li><%= check_box_tag 'job[required_skill_ids][]', skill.id, @job.required_skill_ids.include?(skill.id) %> <%= label_tag skill.skill_name %> </li>
		          <% end %>
		        </ul>
        <% end %>
	      
   			<div id="extra_skill">
			    <h1><%=t('.extra_skill') %></h1>	 
          <%=f.text_field :extra_skill, :cols=>3%></p>
        </div>
      </div>
		</div>
    <div class="divShadow span-24">
	    <div class="infoCompany span-4 last">
		  <p>Descripción de la Oferta</p>
	    </div>
		  <div class="descriptionForm span-20 last">
			  <div class="span-16 prepend-1">
				  <h1>Oferta*</h1>
          <%= f.text_area :description, :required => "required" %>
			  </div>		
		  </div>     
	  </div>
	  <div class="divShadow span-24 buttons">
			<div class="span-20 prepend-9 last">
				  <div class="calltoAction">
				      <% if @job.new_record? %>
		          	 <p><%= f.submit "Publicar oferta" %></p>
		          <% else %>
    		         <p><%= f.submit "Actualizar oferta" %></p>
    		      <% end %>
				  </div>
			</div>
		</div>
  <% end %>
  </div>
</div>
