  <div class="infoCompany span-4 last">
    <p>Datos de la oferta</p>
  </div>
  <div class="generalForm span-12 last">
    <div class="firstColumn span-9 prepend-1">
    <%= form_for @job do |f| %> 
      <% if @job.errors.any? %>
        <div id="error_explanation">
          <h2>Revisa de nuevo porfa los siguientes detalles en la forma:</h2>
          <ul>
          <% @job.errors.full_messages.each do |msg| %>
            <li>- <%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>   

		    <p><%= f.label t('.title') + " *" %>
        <%= f.text_field :title %></p>

        <div id='location_info' data-countries_with_cities="<%= installed_countries_with_cities %>">
          <script type='text/javascript'>
            jQuery(function(){
              new LocationInputsApp(<%= location_info_for(f.object) %>).render();
            });
          </script>
        </div>
      </div>

	    <div class="skills span-20 prepend-1">
		    <%= f.label t('.job_type') + " *", :class => :non_block %><span class="desc">selecciona por lo menos un tipo</span>
        <ul class="form_checkboxes">
		      <li><%= f.check_box :full_time %> <%= f.label :full_time %> </li>
          <li><%= f.check_box :remote %> <%= f.label :remote %></li>
		      <li><%= f.check_box :part_time %> <%= f.label :part_time %></li>
		      <li><%= f.check_box :flexible %> <%= f.label :flexible %></li>
		    </ul>
	    </div>
   </div>
	  <div class="divShadow span-24">
      <div class="infoCompany span-4 last">
	      <p><%= t('.required_profile') %></p>
      </div>
      <div class="part2 span-20 last">
        <div class="skills span-20 prepend-1">
          <div class="clear"></div>
          <%= f.label "Habilidades requeridas" %>
            <ul class="form_checkboxes">
              <% for skill in RequiredSkill.all %>
                <li><%= check_box_tag 'job[required_skill_ids][]', skill.id, @job.required_skill_ids.include?(skill.id) %> <%= label_tag truncate(skill.skill_name, :length => 15) %> </li>
              <% end %>
	          </ul>
        </div>
        <div class="clear"></div>
   			<div id="extra_skill">
          <%= f.label t('.extra_skill'), :class => :non_block %> <span class="desc">separadas por comas</span>
          <%=f.text_field :extra_skill, :maxlength => "140", :cols=>6%></p>
        </div>
      </div>
		</div>
    <div class="divShadow span-24">
	    <div class="infoCompany span-4 last">
		    <p>Descripción de la Oferta</p>
	    </div>
		  <div class="descriptionForm span-20 last">
			  <div class="span-16 prepend-1">
          <%= f.label "Oferta *", :class => :non_block %>
         	<a href="#" id='centered_lightbox' rel="#trigger">Guía para formatear la descripción</a>
          <div class="overlay" id="trigger">  
	            <h2 style="margin:0px">Guia para formato de la descripción</h2> 
	            <div id="formatting_guide">
	              <p>
	                <%= render '/layouts/textileguide' %>
	              </p> 
	           </div>
          </div>
          <%= f.text_area :description, :rows=>"300"%>
			  </div>		
		  </div>     
	  </div> 
	  <div class="divShadow span-24 buttons">
			<div class="span-20 prepend-5 last">
				  <div class="calltoAction">
				      <% if @job.new_record? %>
		          	 <p><%= f.submit "Publicar oferta" %></p>
		          <% else %>
    		         <p><%= f.submit "Actualizar oferta" %></p>
    		      <% end %>
				  </div>
			</div>
		</div>
  <% end %>
