<li class="job shadow" id = "<%= job.id%>">
  <%= link_to(job) do %>
    <div class="span-4 prepend-8 last" >
      
    <%if job.has_logo %>
      <%=image_tag job.logo_url, :style=> "display:block;"%>
    <%else%>
      <h4><%= truncate(job.company.title, :length => 25)%></h4>
    <%end%>
    </div>
  <h1><%= truncate(job.title, :length => 40) %></h1>
  <div class="created_at"><%=t '.created_at' %> <%=l job.created_at.to_date %></div>
  <p><%= truncate(condensed_information(job),:length => 70) %> </p>
  <% end %>
</li>




 
