<div class="content">
  <div class="generalForm">
    <div class="nav-buttons">
      <% if can? :manage, @job%>    
        <%=link_to "Editar", edit_job_path(@job), :class => "button"%> 
        <%= link_to 'Borrar', @job, :confirm => '¿Estas Seguro que deseas borrar la oferta?', :method => :delete, :class => "button" %>
      <% end%>
    </div>
    <div id="left"><!--left-->
      <div id="logo">
        <%if @job.company.logo.file?%>
          <%= link_to (image_tag @job.company.logo.url(:medium)), company_path(@job.company), :id=>"company_logo" %>
        <%else%>
          <%= link_to @job.company, :style=>"padding-bottom:10px;" do%>
            <h3><%= @job.company.title%></h3>
          <%end%>
        <%end%>
      </div>
      <div class="clear"></div>

      <div id="info"> 
        <% unless @job.company.city.blank?%>
          <h2><%= @job.company.city %></h2>
        <% end %>
        <%=render :partial =>'companies/contact_info', :locals => {:company => @job.company}%>
      </div>
      <%= image_tag "shadow.gif" %>
      <br />
      <% if @job.company.contact_email%>
        <%= mail_to @job.company.contact_email, "Contactar", :class => "button contact" %>
      <% else %>
        <%= mail_to @job.company.email, "Contactar", :class => "button contact" %>
      <% end%>
    </div>
    <div id="right">
      <div style="width:100%;overflow:hidden;"><h1><%= @job.title%></h1></div>
      <h4>En <%=@job.city%>
        <%= @job.full_time ? ", Tiempo Completo".html_safe : nil%>
        <%= @job.part_time ? ", Medio Tiempo".html_safe : nil%>
        <%= @job.remote ? ", Remoto".html_safe : nil%>
        <%= @job.flexible ? ", Horario Flexible".html_safe : nil%>
      </h4>
      <% for skill in @job.required_skills %>
        <div class="tag">
          <span><%= skill.skill_name %></span>
        </div>
      <% end %>
      <%unless @job.extra_skill.blank?%>
        <% for skill in @job.format_extra_skills%>
          <div class="tag">
            <span><%= truncate(skill, :length => 110) %></span>
          </div>
        <% end %>
      <%end%>

      <div class="clear"></div>
      <p>

      <div id="job_description">
        <p><%= RedCloth.new(@job.formated_description).to_html.html_safe %></p>
      </div>
    </div><!--/right-->
    <div class="clear"></div>
  </div>

</div>
