<div id="message_form">
  <h3>¿Qué le quieres decir a la empresa?</h3>
  <%=link_to "Estos no son mis datos", destroy_user_session_path(:job_id => job.id, :sign_in => true), :class => 'right'%>
  <div id="user_info">
    <strong><%= current_user.name %></strong><br />
    <%= current_user.email %><br />
    <% unless current_user.github_url.blank? %>
      <%= current_user.github_url %><br />
    <% end %>
    <% unless current_user.github_url.blank? %>
      <%= current_user.personal_url %><br />
    <% end %>
    <%=link_to "Editar", "#", :id=>"edit_link" %>
  </div>
  <%= form_for @user,:validate => true, :method=>:post ,:url => contact_company_user_path(:job => job) do |f| %>
    <%= f.label :message, t('.message') %>
    <li class="required textarea"><%= f.text_area :message %></li>
    <p class="desc left">Le enviaremos un correo a la empresa con tus datos</p>
    <%= f.submit t('.contact'), :class=>"button right" %>
  <% end %>
</div>
<div id="edit_form">
  <%= form_for current_user, :validate => true, :url => user_path(current_user, :job => job, :edit=>"error") do |f| %>
    <div class="registration_left">
      <h3>Editar mis datos</h3>
      <%= f.label :name, t('.name') %>
      <%= f.text_field :name %>
      <%= f.label :email, t('.email') %>
      <%= f.text_field :email %>
      <%= f.label :github, t('.github') %>
      <%= f.text_field :github_url %>
      <%= f.label :linkedin, t('.linkedin') %>
      <%= f.text_field :linkedin_url %>
      <%= f.label :personal, t('.personal') %>
      <%= f.text_field :personal_url %>
    </div>
    <%= f.submit "Guardar", :class => "button right"%>
    <%=link_to "Regresar al mensaje", "#", :id=>"message_link" %>
  <% end %>  
</div>
