<h3>¿Qué le quieres decir a la empresa?</h3>
<%=link_to "Estos no son mis datos", destroy_user_session_path(:job_id => job.id, :sign_in => true), :class => 'right'%>
<div id="user_info">
  <strong><%= current_user.name %></strong><br />
  <%= current_user.email %><br />
  <% unless current_user.github_url.blank? %>
    <%= current_user.github_url %><br />
  <% end %>
  <% unless current_user.github_url.blank? %>
    <%= current_user.personal_url %><br />
  <% end %>
  <%=link_to "Editar", edit_user_path(current_user) %>
</div>
<%= form_for @user,:method=>:post ,:url => contact_company_user_path(:job => job) do |f| %>
  <%= f.label :message, t('.message') %>
  <%= f.text_area :message %>
  <p class="desc left">Le enviaremos un correo a la empresa con tus datos</p>
  <%= f.submit t('.contact'), :class=>"button right" %>
<% end %>
