<div id="registration">
  <%= form_for @user,:id =>"user_new", :url => user_registration_path(:job => job) do |f| %>
    <div id="wizard">
      <!-- scrollable items -->
      <div class="items">
        <!-- pages -->
        <div class="page">
          <div class="registration_left">
                       
            <%= f.text_field :name, :placeholder => "#{t('.name')}"%>
            <%= f.text_field :email , :placeholder => "#{t('.email')}"%>
            <%= text_field_tag :github ,nil, :placeholder => "Github"%>
            <%= text_field_tag :linkedin , nil,:placeholder => "Linkedin"%>
            <%= text_field_tag "Algo mas?", nil,  :placeholder => "Algo mas"%>
          </div>
          <div class="registration_right">
            <%= f.text_area :message, :placeholder => "#{t('.message')}"%>
            <div id="catcha">
              <%= raw (recaptcha_tag :challenge)%>
              <% if params[:job]%>
                <%= f.label t('.missing_catcha'), :class=>"message captcha"%>
              <% end%>
            </div>
            <p class="desc">Le enviaremos el correo a la empresa y guardaremos tus datos para ahorrarte este paso la próxima vez que apliques a cualquier otra oferta.</p>
            <br />
            <button type="button" class="button next ">Siguiente »</button>
          </div>
        </div>
        <div class="page">

          <%= f.password_field :password , :placeholder => "#{t('.password')}"%><br />

          <%= f.password_field :password_confirmation , :placeholder => "#{t('.password_confirmation')}"%>
          <br />
          <%= f.submit "Contactar", :class => "button"%>
          <button type="button" class="button prev" style="float:left">« Atras</button>
        </div>

        <div class="page">[ Any HTML content ]</div>

      </div>


    </div>

  <% end %>
</div>

<div id="sign_in">
  <h3>Iniciar sesión</h3>
  <% if params[:sign_in] %>
    <%= content_tag "p", "Contraseña o email inválido", :class => :message %>
  <% end %>
  <%= form_for @user, :url => user_session_path(:job => job,:sign_in => true) do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>
    <%=hidden_field_tag :job_id, params[:id].to_i%>

    <%= f.label t('.password') %>
    <%= f.password_field :password %>
    <p class="option">¿No tienes cuenta? <%=link_to "Regístrate", "#", :id=> "register"%></p>
    <p><%= f.submit "Entrar", :class=>"button" %></p>
  <% end %>
</div>


