<div id="registration">
  <div>
    <h3>¿Ya tienes cuenta?</h3>
    <%= link_to "Entrar", "#", :class=> "button", :id=>"login" %>
    <br />
  </div>

  <div class="overlay_form">
    <%= form_for @user,:id =>"user_new", :validate => :true, :url => user_registration_path(:job => job) do |f| %>
      
      <%= f.label t('.name') + '*' %>
      <%= f.text_field :name %>

      <%= f.label t('.email') + '*' %>
      <%= f.text_field :email %>

      <%= f.label t('.message') %>
      <%= f.text_area :message %>

      <%= f.label t('.password') + '*' %>
      <%= f.password_field :password %>

      <%= f.label t('.password_confirmation') + '*' %>
      <%= f.password_field :password_confirmation %>

      <div >
        <%= raw (recaptcha_tag :challenge)%>
        <% if params[:job]%>
          <%= f.label t('.missing_catcha'), :class=>"message captcha"%>
        <% end%>
      </div>

      <p><%= f.submit "Contactar" %></p>
    <% end %>
  </div>
</div>

<div id="sign_in">
  <h3>Iniciar sesión</h3>
  <% if params[:sign_in] %>
    <%= content_tag "p", "Contraseña o email inválido", :class => :message %>
  <% end %>
  <%= form_for @user, :url => user_session_path(:job => job,:sign_in => true) do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>
    <%=hidden_field_tag :job_id, params[:id].to_i%>

    <%= f.label t('.password') %>
    <%= f.password_field :password %>
    <p class="option">¿No tienes cuenta? <%=link_to "Regístrate", "#", :id=> "register"%></p>
    <p><%= f.submit "Entrar", :class=>"button" %></p>
  <% end %>
</div>


