
<div id="registration">
  <%= form_for @user,:id =>"user_new", :validate =>true, :url => user_registration_path(:job => job) do |f| %>
    <div id="wizard">
      <!-- scrollable items -->
      <div class="items">
        <!-- pages -->
        <div class="page">
          <div class="registration_left">
            <h3>¿Qué le quieres decir a la empresa?</h3>

            <li class="required"><%= f.text_field :name, :placeholder => "#{t('.name')}"%></li>
            <li class="required"><%= f.text_field :email , :placeholder => "#{t('.email')}"%></li>
            <%= f.text_field :github_url, :placeholder => "#{t('.github')}" %>
            <%= f.text_field :linkedin_url, :placeholder => "#{t('.linkedin')}" %>
            <%= f.text_field :personal_url, :placeholder => "#{t('.personal')}" %>
          </div>
          <div class="registration_right">
            <div class="sign_in_box">
              <p>¿Ya tienes cuenta? <%= link_to "Entrar", "#", :id=>"login" %></p>
            </div>
            <li class="required"><%= f.text_area :message, :placeholder => "#{t('.message')}"%></li>
            <br />
            <%= link_to "Enviar Mensaje","#", :class=>"button big next"  %>
          </div>
        </div>
        <div class="page">

          <h3>Listo! tenemos tu mensaje, ¿quieres que guardemos tus datos?</h3>
          <p>
          Si te registras en Ofertas Hacker ya no será necesario que vuelvas a escribir tu nombre, 
          correo ni ligas de contacto cada vez que quieras contactar a otra empresa.
          </p>

          <p>
          Ahora solamente falta que elijas una contraseña y estás dentro. Prometemos no enviarte spam
         ni cualquier otra cosa que te pudiera molestar.
          </p>

          <div class="center">
            <%= f.password_field :password , :validate => false, :placeholder => "#{t('.password')}"%><br />

            <%= f.password_field :password_confirmation , :validate => false, :placeholder => "#{t('.password_confirmation')}"%>
            <br />

            <%= f.submit "Registrarme", :class => "button", :name=> "register"%> o 
            <%= f.submit "Sólo enviar el mensaje", :class => "as_link", :name=>"no_register"%>
          </div>
            <%= link_to "Regresar","#", :class=>"button prev" %>
        </div>


      </div>


    </div>

  <% end %>
</div>

<div id="sign_in">
  <h3>Iniciar sesión</h3>
  <% if params[:sign_in] == "error" %>
    <%= content_tag "p", "Contraseña o email inválido", :class => 'message inline' %>
  <% end %>
  <%= form_for @user, :url => user_session_path(:job => job,:sign_in => "error") do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>
    <%=hidden_field_tag :job_id, job.id%>

    <%= f.label t('.password') %>
    <%= f.password_field :password %>
    <p class="option">¿No tienes cuenta? <%=link_to "Regístrate", "#", :id=> "register"%></p>
    <p><%= f.submit "Entrar", :class=>"button" %></p>
  <% end %>
</div>


