
<div id="registration">
  <%= form_for @user,:id =>"user_new", :validate => true, :url => user_registration_path(:job => job) do |f| %>
    <div id="wizard">
      <!-- scrollable items -->
      <div class="items">
        <!-- pages -->
        <div class="page">
          <div class="registration_left">
            <h3>¿Qué le quieres decir a la empresa?</h3>
            <%= f.label :qname, t('.name') %>
            <li class="required"><%= f.text_field :name %></li>
            <%= f.label :qemail, t('.email') %>
            <li class="required"><%= f.text_field :email  %></li>
            <%= f.label :qgithub_url, t('.github') %>
            <%= f.text_field :github_url  %>
            <%= f.label :qlinkedin_url, t('.linkedin') %>
            <%= f.text_field :linkedin_url  %>
            

          </div>
          <div class="registration_right">
            <div class="sign_in_box">
              <p>¿Ya tienes cuenta? <%= link_to "Entrar", "#", :id=>"login" %></p>
            </div>
            <%= f.label :message, t('.message') %>
            <li class="required textarea"><%= f.text_area :message %></li>

            <%= f.label :qpersonal_url, t('.personal') %>
            <%= f.text_field :personal_url  %>
            <%= link_to "Enviar Mensaje","#", :class=>"button big next"  %>
          </div>
        </div>
        <div class="page">

          <h3>Listo! tenemos tu mensaje, ¿quieres que guardemos tus datos?</h3>
          <p>
          Si te registras en Ofertas Hacker ya no será necesario que vuelvas a escribir tu nombre, 
          correo ni ligas de contacto cada vez que quieras contactar a otra empresa.
          </p>

          <p>
          Ahora solamente falta que elijas una contraseña y estás dentro. Prometemos no enviarte spam
         ni cualquier otra cosa que te pudiera molestar.
          </p>

          <div class="center">
            <%= f.label :qpassword, t('.password') %>
            <%= f.password_field :password , :validate => false%><br />

            <%= f.label :qpassword_confirmation, t('.password_confirmation') %>
            <%= f.password_field :password_confirmation , :validate => false %>
            <br />

            <%= f.submit "Registrarme", :class => "button", :name=> "register"%> o 
            <%= f.submit "Sólo enviar el mensaje", :class => "as_link", :name=>"no_register"%>
          </div>
            <%= link_to "Regresar","#", :class=>"button prev" %>
        </div>


      </div>


    </div>

  <% end %>
</div>

<div id="sign_in">
  <h3>Iniciar sesión</h3>
  <%= form_for @user, :url => user_session_path(:job => job,:sign_in => "error") do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>
  <% if params[:sign_in] == "error" %>
    <%= content_tag "label", "Contraseña o email inválido", :class => 'message' %>
  <% end %>
    <%=hidden_field_tag :job_id, job.id%>

    <%= f.label t('.password') %>
    <%= f.password_field :password %>
    <p class="option">¿No tienes cuenta? <%=link_to "Regístrate", "#", :id=> "register"%></p>
    <p><%= f.submit "Entrar", :class=>"button right" %></p>
  <% end %>
</div>


