<div id="registration">
  <div id="side">
    <h2>¿Ya tienes cuenta?</h2>
    <%= link_to "Entrar", "#", :class=> "button", :id=>"login" %>
  </div>

  <div class="overlay_form">
    <%= form_for @user, :validate => :true, :url => user_registration_path(:job => job) do |f| %>
      
      <%= f.label t('.name') + '*' %>
      <%= f.text_field :name %>

      <%= f.label t('.email') + '*' %>
      <%= f.text_field :email %>

      <%= f.label t('.message') %>
      <%= f.text_area :message %>

      <%= f.label t('.password') + '*' %>
      <%= f.password_field :password %>

      <%= f.label t('.password_confirmation') + '*' %>
      <%= f.password_field :password_confirmation %>

      <div ><%= raw (recaptcha_tag :challenge)%></div>

      <p><%= f.submit "Contactar" %></p>
    <% end %>
  </div>
</div>

<div id="sign_in">
  <div id="side">
    <h2>¿No tienes cuenta?</h2>
    <%= link_to "Registrate", "#", :class=> "button", :id=>"register" %>
  </div>
  <h2>Sign in</h2>

  <%= form_for @user, :url => user_session_path do |f| %>
    <p><%= f.label :email %><br />
    <%= f.text_field :email %></p>
    <%=hidden_field_tag :job_id, params[:id].to_i%>

    <p><%= f.label :password %><br />
    <%= f.password_field :password %></p>

    <p><%= f.submit "Ingresar" %></p>
  <% end %>
</div>


