  <% custom_title "Entrar" %>
  <div class="infoCompany span-4">
    <p>Iniciar Sesión</p>
  <script> $("li#entrar a span").addClass("current")</script>
  </div>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div class="generalForm span-12 prepend-1">
      <%= f.label t('.email') %>
      <%= f.text_field :email  %>

      <%= f.label t('.password') %>
      <%= f.password_field :password, :type => "password", :minlength => "6"%></p>

      <% if devise_mapping.rememberable? -%>
        <div class='calltoAction login'>
			    <%= f.submit "Ingresar" %>
		    </div>
        <p class='remember_me'>
          <%= f.check_box :remember_me %> <%= f.label :remember_me, t('.remember_me'), :class => "small_label" %>
		    </p>
      <% end %>
    </div>
  <% end %>
  <%= render :partial => 'companies/shared/links' %>
