<p style="padding-left:10px;">
<%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> de conformidad con lo dispuesto en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, vigente en la República Mexicana hace de tu conocimiento lo siguiente:
<ol>
  <li>Que únicamente recopilamos tus datos personales no sensibles para los siguientes propósitos: I.) Para fines de identificación. II) Para fines estadísticos y III) Para eventualmente contactarlo vía correo electrónico o teléfono con el fin de compartirle noticias de interés en la rama de ofertas u oportunidades de empleo para desarrolladores.</li>

  <li>Que tus datos personales jamás serán divulgados ni compartidos con terceros, ni se les dará un uso distinto al señalado en el primer punto.</li>

  <li>Que <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> tratará y resguardará a tus datos personales con base en los principios de licitud, calidad, consentimiento, información, finalidad, lealtad, proporcionalidad y responsabilidad consagrados en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.</li>

  <li>Que la persona responsable del manejo de tus datos personales será eñ señor Alberto Padilla Luengas, quien forma parte de la administración de <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> misma que tiene como domicilio el ubicado en Paseo de la Esperanza 913 Altos A, Col. Valle del Mirador en San Pedro Garza García, Nuevo León. C.P. 66260.</li>

  <li>Que respecto de tus datos personales, tú podrás ejercer los derechos de acceso, rectificación, cancelación y/u oposición (Derechos ARCO) mediante el envío de un correo electrónico a la siguiente dirección: ofertashacker@innku.com. Para ser procesada tu petición, ésta deberá incluir todos y cada uno de los requisitos previstos en el artículo 29 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.</li>

  <li>Que <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> se reserva el derecho a modificar el presente Aviso de Privacidad en el futuro. En todo caso, cualquier modificación al mismo se hará de tu conocimiento mediante el envío de un correo electrónico a la cuenta que tu nos proporciones inicialmente para hacer de tu conocimiento el presente Aviso de Privacidad y/o mediante la publicación del mismo en la página web www.ofertashacker.com/privacidad.</li>

  <li><%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> no será responsable en el caso de que el usuario no reciba la referida notificación de cambio en el Aviso de Privacidad si existiere algún problema con su cuenta de correo electrónico o de transmisión de datos por internet. Sin embargo, por tu seguridad, el Aviso de Privacidad vigente estará disponible en todo momento en la página web señalada en el punto anterior.</li>

  <li>Que este Aviso de Privacidad cumple con los requisitos establecidos en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares vigente. </li>

  <li>Asimismo, <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> se compromete a no vender, intercambiar, transferir, compartir, publicar o difundir a terceros ajenos al <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %>, los datos que nos proporciones al crear tu perfil, publicar direcciones, o cualquier otra información que ingreses en nuestro sistema. Tus datos son tuyos. La única forma en que nos veríamos obligados a revelar tus datos es mediante la orden de una autoridad competente.</li>

  <li>Si eventualmente <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> se llegara a fusionar o asociar con alguna nueva empresa, sólo compartiremos tus datos si contamos con tu autorización expresa. Nosotros te contactaremos en dicho caso y te proporcionaremos un mecanismo ágil y sencillo para recabar tu autorización o removerte de nuestra base de datos.</li>

  <li>En todo momento, mediante el acceso a tu cuenta, podrás modificar o rectificar los datos que nos has proporcionado. De la misma forma, podrás cancelar tu cuenta y en consecuencia darte de baja de nuestras bases de datos.</li>

  <li>Como usuario, tú eres responsable de la veracidad de la información que ingreses al sistema.</li>

  <li>Si lo autorizas y la configuración de tu máquina nos lo permite, enviaremos un archivo llamado “cookie” que se instalará en tu disco duro para permitirnos identificar las preferencias que hayas seleccionado, en su caso, para mejorar tu experiencia en nuestro sitio. Ninguna de la información que se almacene en el “cookie” será divulgada por <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %>. Entre otros datos que puede almacenar la “cookie” se encuentran tu nombre, preferencias, teléfono, etc. Ninguno de ellos será divulgado de conformidad con la presente política de privacidad.</li>

  <li>Por cuestiones de seguridad, al aceptar la presente política de privacidad te será enviado un correo de verificación y validación que deberás de confirmar para concluir tu aceptación y registro.</li>

  <li>Cuando haya sido solicitado por <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> se cifrará toda la información que se envía a través de los formularios que se encuentran en las áreas seguras de su sitio. Podrás identificar las áreas seguras porque las mismas tendrán el prefijo https:// en donde la “s” indica que se trata de un área segura.</li>

  <li>No obstante que <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> utiliza la tecnología más avanzada para salvaguardar los datos que nos envías, existe la probabilidad de que pueda haber un defecto en la programación de las aplicaciones que utilizamos, que permita el acceso forzado a la información. Aún y cuando esta situación se llegara a dar, tus datos están protegidos mediante procesos de cifrado avanzado que hacen imposible la recuperación útil de la información por un tercero ajeno a <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %>.</li>
</ol>
</p>
