<div class="content about_wrapper">
  <% custom_title "About"%>
  <div id="about">
    <div id="welcome">
      <div id="top"><%= image_tag 'ribbon1.png'%><h1>Las mejores ofertas para los mejores desarrolladores</h1><%= image_tag 'ribbon2.png'%></div>
      <div id="sub_titles">
      <h3>¿Qué es Ofertas Hacker?</h3>
      <p id="welcome_info">
      Es un espacio para publicar y encontrar oportunidades de <br />
      trabajo para desarrolladores latinoamericanos.<br />
      </p>
      <div class="link" id="link1">
        <%= link_to new_job_path(:new_company => "true") do %>
          <span class="big">Registrate</span><br />
          <span>para publicar una ofreta</span>
        <% end %>
      </div>

      <div class="link" id="link2">
        <%= link_to jobs_path do %>
          <span class="big">Busca una oferta</span><br />
          <span>para desarrolladores </span>
        <% end %>
      </div>
      </div>
    </div>
    <div id="middle">
      <h3>No, Nadie se quiere hacer rico a partir de este sitio.</h3>
      <p>
        Es enserio, este sitio no tiene fines de lucro, por el momento es gratis
        para todos, y si llegamos a cobrar en algún <br />
 				punto será con el firme y único objetivo de mantener vivo este espacio.
      </p>
      <h3>¿Por qué?</h3>
      <p>
      El objetivo de Ofertas Hacker es promover el desarrollo de software en
      países latinoamericanos y encontrar las <br />
			mejores ofertas de trabajo para los mejores desarrolladores.
      </p>
    </div>
    <div id="bottom">
      <div id="title">
        <h3>¿Quieres aportar a este proyecto?</h3>
        <p>Estamos abiertos a recibir tu apoyo</p>
      </div>
      <h4>Necesitamos</h4>
      
      <div id="content">

        <div id="box1">
          <div class="box">
            <%=image_tag "difusion.png"%>
            <div class="info">
              <h4>Difusión</h4>
              <p>Invita a las empresas que busquen desarrolladores a publicar sus vacantes. </p>
            </div>
          </div>
        </div>

        <div id="box2">
          <div class="box">
            <%=image_tag "difusion.png"%>
            <div class="info">
              <h4>Mucha Difusión</h4>
              <p>Dile a los desarrolladores que esten al pendiente de las ofertas.</p>
            </div>
          </div>
        </div>


        <div id="box3">
          <div class="box">
            <%=image_tag "difusion.png"%>
            <div class="info">
              <h4>Mas Difusión</h4>
              <p>Como se te ocurra pero ayúdanos a hacer de este un gran espacio. </p>
            </div>
          </div>
        </div>

        <div id="box4">
          <div class="box">
            <%=image_tag "mano.png"%>
            <div class="info">
              <h4>También Manos, mentes e ideas</h4>
              <p>Dile a los desarrolladores que esten al pendiente de las ofertas.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%=image_tag 'bottom-line.png', :id =>'bottom_line'%>
  </div>
</div>
