<%= stylesheet_link_tag "jquery-ui", "JScrollbar.jquery" %>
<% javascript 'overlay', 'lightbox','jquery-mousewheel', 'jScrollbar.jquery'%>

<div class="content">


  <!-- Scrolling content container -->
  <div class="terms_of_use">
    
    <h1>Términos de Uso</h1>

    <p>Los presentes términos de uso regulan la forma en que los usuarios pueden utilizar nuestro sitio y aprovechar los servicios que en el mismo se prestan, los contenidos publicados en el sitio, los comentarios hechos por otros usuarios o los que tu mismo hagas respecto de los artículos o información contenida en el sitio, son propiedad de <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> y podrá ser utilizada para los fines y términos que consideren oportunos los administradores del sitio.</p>

    <p> Cuando el usuario se encuentre utilizando servicios particulares del sitio, estará sujeto a las guías de uso o reglas correspondientes a dichos servicios, las cuales el sitio podrá anunciar periódicamente. Todas las guías de uso o reglas se encuentran incorporadas en el sitio. </p>

    <p> EL sitio, un proyecto de <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> y su uso se rige por los presentes términos y la política de privacidad que puedes consultar en <%= link_to "www.ofertashacker.com/privacidad", privacidad_path, :target => :_blank  %></p>

    <h3>ACEPTACIÓN:</h3>

    <p> El uso del sitio implica tu aceptación y conocimiento de los términos de uso y la política de privacidad de <%= link_to "www.ofertashacker.com", root_path, :target=> :_blank %>. Si no estás de acuerdo con estos términos de uso o con la política de privacidad mencionada, por favor abandona el sitio.</p>

    <h3>DESCRIPCIÓN DEL SERVICIO:</h3>

    <p> El sitio tiene como objetivo brindar un espacio para que empresas, organizaciones o personas individuales promuevan oportunidades de trabajo y puedan darlo a conocer a posibles candidatos para sus vacantes; así como brindar un listado de todas las ofertas publicadas y herramientas de búsqueda para ver el detalle de alguna oferta en particular.</p>

    <p> Actualmente, el sitio provee a los usuarios que se registren un espacio para completar un perfil de su organización compuesto por información básica de contacto, descripción y un logotipo; además provee a usuarios registrados una forma para publicar vacantes de trabajo y ofertas para que queden a la disposición de un posible candidato, por medio de su funcionalidad (el “Servicio”). </p>

    <p> A menos que se indique expresamente lo contrario, cualquier nueva aplicación que aumente o mejore el Servicio actual, incluyendo el lanzamiento de nuevas propiedades del sitio, estará disponible para los usuarios. El usuario conviene y acepta que el sitio no será responsable por la información errónea que se pueda presentar en el sitio, ya sea de forma directa o por la participación de los usuarios.</p>

    <p> Para poder utilizar el Servicio, deberás obtener acceso a <%= link_to "www.ofertashacker.com", root_path, :target=> :_blank %>, ya sea directamente o por medio de algún dispositivo que tenga acceso a contenidos con base en la red. Además, deberá contar con todo el equipo necesario para establecer dicha conexión a <%= link_to "www.ofertashacker.com", root_path, :target=>:_blank %>, incluyendo una computadora y módem, u otro dispositivo de acceso.</p>

    <h3>REGISTRO:</h3>

    <p> Algunas áreas de nuestros sitios requieren que te hayas registrado previamente y hayas validado los datos de tu cuenta. Te pedimos que los datos que nos proporciones sean verificables y verídicos. Proporcionar datos falsos constituye una causal para que cancelemos tu cuenta de acceso a nuestro sitio. Es por tu seguridad y la de todos.</p>

    <p> Se te asignará una contraseña y una cuenta después de que completes el proceso de registro de usuario del sitio, de la cual serás responsable de mantener en confidencialidad y a su vez serás responsable absoluto por todas las actividades que ocurran bajo tu contraseña o cuenta. En virtud de lo anterior, te comprometes a: (a) notificar inmediatamente al sitio de cualquier uso no autorizado de tu contraseña o cuenta o de cualquier otra falla de seguridad; y, (b) asegurarte de que tu cuenta sea cerrada al final de cada sesión. El sitio no será responsable por ninguna pérdida o daño que resulte como consecuencia de tu incumplimiento a las disposiciones de esta sección de registro.</p>

    <h3>NORMAS DE ONDUCTA:</h3>

    <p> Cada usuario conoce y acepta que toda la información, datos, textos, software, música, sonido, fotografías, gráficas, video, mensajes u otros materiales ("Contenido"), anunciados por los demás usuarios, son responsabilidad únicamente de la persona que originó dicho Contenido. Esto significa que el usuario, y no el sitio, es completamente responsable por todo el Contenido que cada quien cargue ("upload"), anuncie, etc. El sitio no controla el Contenido anunciado por medio del Servicio, y como tal, no garantiza la veracidad, integridad o calidad de dicho Contenido. En virtud de que cada usuario es responsable del contenido que cargue.</p>

    <p> El usuario reconoce que por usar el Servicio, puede estar expuesto a Contenido ofensivo, indecente u objetable, por lo que bajo ninguna circunstancia y en ninguna forma será responsable el sitio por ningún Contenido.</p>

    <p> De igual forma los que utilicen el sitio se obligan a no usar el Servicio para lo siguiente:</p>

    <p> Cargar ("upload"), anunciar o de cualquier otra forma transmitir Contenido que sea ilegal, peligroso, amenazante, abusivo, hostigador, tortuoso, difamatorio, vulgar, obsceno, calumnioso, invasivo del derecho de privacidad, odioso, discriminatorio, o de cualquier otra forma ofensivo a terceros;
    De ninguna manera dañar a menores de edad;
    Cargar ("upload"), anunciar o de cualquier otra forma transmitir algún Contenido que viole alguna patente, marca, secreto comercial, derecho de autor o cualquier derecho de propiedad intelectual ("Derechos") de algún tercero;
    Cargar ("upload"), anunciar, enviar por correo electrónico o de cualquier otra forma transmitir algún material que contenga virus de software, o cualquier otro código de computadora, archivos o programas diseñados para interrumpir, destruir o limitar el funcionamiento de algún software o disco duro para computadora o equipo de telecomunicaciones;
    No incites a la violencia o a la comisión de algún delito o infracción;
    Violar intencionalmente o no alguna ley local, estatal, nacional o internacional;
    Acechar o de cualquier otra forma hostigar a un tercero; o colectar o guardar datos personales acerca de otros usuarios.
    Hacerse pasar por alguna persona o entidad, incluyendo, pero no limitado, a un funcionario o empleado del sitio, líder de forum, guía o anfitrión, o hacer declaraciones falsas, o de cualquier otra forma falsificar su asociación a alguna persona o entidad</p>

    <p> El sitio no preselecciona el Contenido, sin embargo, los administradores tienen el derecho, pero no la obligación, a su plena discreción de rechazar o remover cualquier contenido que esté disponible por medio del Servicio. Tu convienes que debes evaluar y que aceptas mediante tu registro, todos aquellos riesgos asociados con el uso de cualquier Contenido, incluyendo su confianza en la veracidad, integridad o uso de dicho contenido. </p>

    <h3>CANCELACIÓN DE CUENTA DEL USUARIO:</h3>

    <p> En caso de no respetar los términos de uso del sitio, <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> se reserva el derecho de cancelar su cuenta de usuario. En consecuencia, estás de acuerdo en que su aceptación a los términos de uso y la utilización del sitio constituye una autorización expresa a <%= link_to "INNKU Solutions SA de CV", "http://www.innku.com", :target=>:_blank %> para poder eliminar todo el contenido, comentarios o cualquier otra información que hayas subido a nuestro sitio, si determinamos que no has respetado los términos de uso o la política de privacidad del sitio. </p>

    <p> Tu convienes en que el sitio en cualquier tiempo, podrá cancelar o discontinuar tu contraseña, cuenta (o alguna parte de la misma) o tu uso del Servicio y remover y descartar cualquier Contenido dentro del Servicio por cualquier razón, incluyendo sin limitación, la falta de uso, o en caso de considerar que has violado o actuado en contra del texto o el espíritu del sitio. En virtud de lo anterior, aceptas que el sitio podrá desactivar o borrar inmediatamente tu cuenta y toda la información y archivos relacionados con la misma y/o prohibir cualquier nuevo acceso a dichos archivos o al Servicio, en caso de que incumplas o violes lo establecido en los presentes términos de uso, por lo que el sitio no será responsable hacia ti o terceras personas por cualquier terminación de su acceso al Servicio.</p>

    <h3>PUBLICACIONES DE USUARIOS:</h3>

    <p> La publicación realizada por los usuarios, es responsabilidad de quien la remite. </p>

    <p> INNKU Solutions SA de CV no es responsable por la veracidad o precisión de la información publicada por los oferentes.</p>

    <p> Queda estrictamente prohibido a los usuarios publicar productos, bienes o sustancias prohibidas por la ley. En caso de que nuestro equipo detecte una publicación en contra de lo aquí establecido, dicha publicación será eliminada de inmediato y la cuenta del usuario cancelada.</p>

    <p> INNKU Solutions SA de CV no se hace responsable por la precisión o veracidad de los datos publicados y los publica sin garantía de ningún tipo.</p>

    <h3>ELIMINACIÓN DE CONTENIDOS Y NOTIFICACIONES</h3>

    <p> Si eres titular de algún contenido que haya sido subido sin tu autorización, notifícanos a ofertashacker@innku.com y nosotros nos comprometemos a eliminar dichos contenidos en un plazo no mayor a 48 horas. Procura enviar en tu correo algún documento que contenga la prueba de titularidad en la que te basas para solicitarnos que retiremos los contenidos.</p>

    <p> En caso de que conozcas cualquier violación por parte de cualquier tercero deberás notificarlo inmediatamente a nuestro equipo a ofertashacker@innku.com.</p>

    <h3>LIMITACIÓN DE RESPONSABILIDAD:</h3>

    <p> INNKU Solutions SA de CV no es responsable de los contenidos u ofertas publicados por sus usuarios registrados. </p>

    <p> INNKU Solutions SA de CV únicamente provee la información publicada por los usuarios al igual que lo hace cualquier sitio de carácter público. En consecuencia, estás consciente de que cada parte asume el riesgo que implica el consultar y seguir cualquir contenido publicado en el sitio.</p>

    <p> Tu comprendes y acuerdas expresamente que ni el sitio ni INNKU Solutions SA de CV serán responsable por ningún daño o perjuicio directo indirecto, como resultado del uso o imposibilidad de usar el servicio; de la veracidad de la información o servicio adquirido u obtenido, o, cualquier otro asunto relacionado al servicio.</p>

    <h3>LIMITACIÓN DE GARANTÍA:</h3>

    <p> INNKU Solutions SA de CV no garantiza, en ninguna forma, la disponibilidad, integridad, autenticidad o legitimidad de los contenidos publicados por los usuarios del sitio. </p>

    <p> En consecuencia, al utilizar el sitio, registrarte como usuario o subir cualquier tipo de contenido, estás de acuerdo en que lo haces sin ningún tipo de garantía y bajo tu propio riesgo.</p>

    <p> El usuario expresamente comprende y conviene en que:</p>

    <p> El uso del servicio es bajo su propio riesgo, el servicio es provisto y según se encuentre "disponible", por lo que el sitio no otorga garantía de ningún tipo, ya sea expresa o implícita, incluyendo sin limitación a las garantías implícitas de comercialidad, aptitud para un propósito en particular, y no violación de los usuarios.
    El sitio no garantiza que, el servicio se ajustará a los requisitos del usuario, el servicio será ininterrumpido, puntual, seguro, o libre de error, los resultados que puedan ser obtenidos del uso del servicio sean veraces o confiables, la calidad de cualquier producto, servicio, información, u otro material que hayas comprado u obtenido por medio del servicio se ajustará a sus expectativas; y, cualquier error en el software será corregido.
    Cualquier material descargado ("downloaded") o de cualquier otra forma obtenido por medio del uso del servicio es hecho bajo tu propia discreción y riesgo y serás absolutamente responsable por cualquier daño al sistema de su computadora o pérdida de datos que resulte de la descarga ("download") de cualquiera de estos materiales. </p>

    <h3>ENLACES:</h3>

    <p> El Servicio o terceras personas podrán proveer enlaces a otros sitios o recursos en <%= link_to "www.ofertashacker.com", root_path, :target=> :_blank %>, en los cuales el sitio no tiene control, por lo que aceptas y conviene en que el sitio no será responsable por la disponibilidad de dichos sitios y recursos externos, y no los respalda ni es responsable o tiene obligación legal por el Contenido, comercialización, productos u otros materiales en los enlaces o recursos disponibles desde dichas páginas web o recursos. Además, aceptas y acuerda que el sitio no será responsable o estará obligado, directa o indirectamente, por ningún daño o perjuicio causado por el uso o la credibilidad en cualquier Contenido, bienes o servicios disponibles por medio de ningún sitio o recurso.</p>

    <h3>INDEMNIZACIÓN:</h3>

    <p> De igual forma, te comprometes a indemnizar y sacar en paz y a salvo, libre de daños a el sitio, sus subsidiarias, afiliados, oficiales, agentes, asociados u otros socios y empleados de cualquier reclamo o demanda, incluyendo honorarios de los abogados, hecha por una tercera parte debido al contenido, o información que hayas proporcionado al sitio.</p>

    <h3>PROPIEDAD INTELECTUAL:</h3>

    <p> El diseño gráfico y el código de programación de las plantillas y hojas de estilo de nuestro sitio también son propiedad de INNKU Solutions SA de CV y nos reservamos todos los derechos sobre los mismos. No se encuentra autorizado para utilizar o reproducir ninguno de estos elementos sin la autorización por escrito de INNKU Solutions SA de CV.</p>

    <p> Las marcas o avisos comerciales que aparecen en la publicidad de nuestro sitio son propiedad de sus respectivos titulares y no nos reservamos ningún derecho respecto de los mismos.</p>

    <h3>PROHIBICION DE REVENDER EL SERVICIO:</h3>

    <p> Asimismo, te comprometes a no reproducir, duplicar, copiar, vender, revender o explotar por cualquier propósito comercial, ninguna parte del Servicio, uso del Servicio, o acceso al Servicio.</p>

    <h3>LEGISLACIÓN APLICABLE:</h3>

    <p> En caso de existir controversia en relación al uso del sitio, los contenidos publicados, los términos de uso o la política de privacidad del mismo, estás de acuerdo expresamente en someterte a la jurisdicción de los Tribunales y Leyes del Distrito Federal vigentes en territorio de los Estados Unidos Mexicanos.</p>

    <p> Reconociendo la naturaleza global del Internet, te obligas a obedecer todas las reglas locales estatales o federales con respecto a la conducta online y Contenido aceptable. Específicamente, te obligas a obedecer todas las leyes aplicables acerca de la transmisión de datos técnicos exportados de México.</p>




  </div>



</div>
