<div class="mainContent clear span-24">
  <%= stylesheet_link_tag "jquery-ui" %>
  <% custom_title "Editar Perfil"%>
  <hr width="100%" class="topSpacing"/>
  <div class="infoCompany span-4">
    <p>Datos de la empresa</p>
  </div>
  <div class="generalForm span-12 prepend-1">
      <% form_for @company, :html => { :multipart => true } do |f| %>
          <%= f.error_messages %>
    			<h1><%=t('.title') + " *" %></h1>
          <%= f.text_field :title, :required=>"required", :pattern=>"[a-zA-Z ]{5,}" %>
    			<h1><%=t('.city') + " *" %></h1>
          <%= f.text_field :city, :class => 'city_autocomplete'%>
    			<h1><%=t('.email') + " *" %></h1>
          <%= f.text_field :email, :required=>"required" %>
          
    			<h1>Logo</h1>
          <%= f.file_field :logo %>
          <hr class="span-12">	
          <%=image_tag @company.logo.url %>
				  <span class="clear">Logo</span>
					
  </div><!--/generalform -->
	    <div class="divShadow span-24">
	    
		    <div class="infoCompany span-4">
			  <p>Descripción de la empresa</p>
		    </div>
		    
				<div class="descriptionForm span-16 prepend-1">
        			<label>	<h1><%=t('.description') + " *" %></h1>	</label> 
          <%= f.text_area :description %>
        </div>
      </div><!--/description -->

	    <div class="divShadow span-24">
	      <div class="infoCompany span-4">
		      <p>Contacto</p>
	      </div>
        <div id="contacto" class="span-16 prepend-1">
          
          <p>facebook.com/
          <%= f.text_field :facebook %></p>
          <p>@ejemplo
          <%= f.text_field :twitter %></p>
          <p>linkedin.com/
          <%= f.text_field :linkedin %></p>
          <p>e-mail
          <%= f.text_field :contact_email %></p>
        </div>
    </div>

    <div class="divShadow span-24 buttons">
			<div class="span-20 prepend-9 last">
			  <div class="calltoAction">
          <p><%= f.submit "Actualizar" %></p>
		    </div>
		  </div>
		</div> 
    <% end %>
</div>
