<%javascript 'overlay', 'textile'%>
<div class="mainContent clear span-24">
  <%= stylesheet_link_tag "jquery-ui" %>
  <% custom_title "Editar Perfil"%>
  <hr width="100%" class="topSpacing"/>
  <div class="infoCompany span-4">
    <p>Datos de la empresa</p>
  </div>
  <div class="generalForm span-12 prepend-1">
      <%= form_for @company, :html => { :multipart => true } do |f| %>
          <%= f.error_messages %>
    			<%= f.label t('.title') + " *" %>
          <%= f.text_field :title %>
    			<%= f.label t('.city') %>
          <%= f.text_field :city, :class => 'city_autocomplete'%>
    			<%= f.label t('.email') + " *" %>
          <%= f.text_field :email%>
          
          <%= f.label "Logo" %>
          <%= f.file_field :logo %>
          <hr class="span-12">
          <%=image_tag @company.logo.url %>
				  <span class="clear"></span>
					
  </div><!--/generalform -->
	    <div class="divShadow span-24">
	    
		    <div class="infoCompany span-4">
			    <p>Descripción de la empresa</p>
		    </div>
				<div class="descriptionForm span-16 prepend-1">
        	<%= f.label t('.description'), :class => :non_block %>
         	<a href="#" rel="#trigger">Guía para formatear textareas</a>
          <div class="overlay" id="trigger">  
	            <h2 style="margin:0px">Guia para formato de text areas</h2> 
	            <div id="formatting_guide">
	              <p>
	                <%= render '/layouts/textileguide' %>
	              </p> 
	           </div>
          </div>
          <%= f.text_area :description %>
        </div>
      </div><!--/description -->

	    <div class="divShadow span-24">
	      <div class="infoCompany span-4">
		      <p>Contacto</p>
	      </div>
        <div id="contacto" class="span-16 prepend-1">
          <%= f.label "website" %>
          <p>http://
          <%= f.text_field :website %></p>
          <%= f.label "e-mail de contacto" %>
          <%= f.text_field :contact_email %>
          <%= f.label "facebook" %>
          <p>http://facebook.com/
          <%= f.text_field :facebook %>
          <%= f.label "twitter" %>
          <p>http://twitter.com/
          <%= f.text_field :twitter %></p>
        </div>
    </div>
    <div class="divShadow span-24 buttons">
		<div class="span-20 prepend-5 last">
			<div class="calltoAction">
          		<p><%= f.submit "Actualizar" %></p>
		    </div>
		</div>
	</div> 
    <% end %>
</div>
