<%javascript 'overlay', 'textile'%>
<div class="mainContent clear span-24">
  <%= stylesheet_link_tag "jquery-ui" %>
  <% custom_title "Editar Perfil"%>
  <div class="infoCompany span-4">
    <p>Datos de la empresa</p>
  </div>
  <div class="generalForm span-12 prepend-1">
    <%= form_for @company, :html => { :multipart => true } do |f| %>
      <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2>Revisa de nuevo porfa los siguientes detalles en la forma:</h2>
          <ul>
            <% @company.errors.full_messages.each do |msg| %>
              <li>- <%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>   
      <%= f.label t('.title') + " *" %>
      <%= f.text_field :title %>
      <%= f.label t('.city') %>
      <%= f.text_field :city, :class => 'city_autocomplete'%>
      <%= f.label t('.email') + " *" %>
      <%= f.text_field :email%>

      <%= f.label "Logo" %>
      <%= f.file_field :logo %>
      <hr class="span-12">
      <%=image_tag @company.logo.url %>
      <span class="clear"></span>

    </div><!--/generalform -->
    <div class="divShadow span-24">

      <div class="infoCompany span-4">
        <p>Descripción de la empresa</p>
      </div>
      <div class="descriptionForm span-16 prepend-1">
        <%= f.label t('.description'), :class => :non_block %>
        <a href="#" rel="#trigger">Guía para formatear textareas</a>
        <div class="overlay" id="trigger">  
          <h2 style="margin:0px">Guia para formato de text areas</h2> 
          <div id="formatting_guide">
            <p>
            <%= render '/layouts/textileguide' %>
            </p> 
          </div>
        </div>
        <%= f.text_area :description %>
      </div>
    </div><!--/description -->

    <div class="divShadow span-24">
      <div class="infoCompany span-4">
        <p>Contacto</p>
      </div>
      <div id="contacto" class="span-16 prepend-1">
        <div class="span-9 ">
          <%= f.label "e-mail de contacto" %>
          <%= f.text_field :contact_email %>
          <span><%= f.label "website" %></span>
              <p>
              <%= f.text_field :website %></p>
              <div class="clear"></div>


              <span id="label_img"><%= f.label "facebook" %> <%=image_tag 'facebook_logo.png'%></span>
              <p>
              <%= f.text_field :facebook %></p>
              <div class="clear"></div>

              <span id="label_img"><%= f.label "twitter" %> <%=image_tag 'twitter-logo.png'%></span>
              <p>
              <%= f.text_field :twitter %></p>
              <div class="clear"></div>

            </div>

          </div>
        </div>
        <div class="divShadow span-24 buttons">
          <div class="span-20 prepend-5 last">
            <div class="calltoAction">
              <p><%= f.submit "Actualizar" %></p>
            </div>
          </div>
        </div> 
      <% end %>
    </div>
