
<div class="content">
  <% custom_title "Compañías"%>
  <h1><%= t ('.companies') %></h1>

  <% @companies.each do |company| %>
    <div class="company_profile <%= cycle('par','non')%>">
      <div class="logo">
        <% if company.logo? %>
          <%= image_tag company.logo.url(:medium) %>
        <% end %>
      </div>
      <div class="company_info">
        <h2><%= link_to company.title, company_path(company) %></h2>
        Ciudad: <%= company.city %><br />
        <div style="float:right;">
          <h4>Ver Ofertas</h4>
        </div>
        </div>
    <div class="clear"></div>
    </div>
  <% end %>
</div>
