
<div class="content">
  <% custom_title "Empresas"%>
  <h1><%= t ('.companies') %></h1>

  <% @companies.each do |company| %>
    <div class="company_profile shadow <%= cycle('par','non')%>">
      <div class="logo">
          <%=link_to (image_tag company.logo.url(:medium)), company%>
      </div>
      <div class="company_info">
        <h2><%= link_to truncate(company.title, :length =>  55), company_path(company) %></h2>
        <% unless company.city.blank?%><%= "En #{company.city}" %><br /><%end%>
        <% if company.twitter?%>
           <%= link_to "@#{truncate(company.twitter, :length => 20)}", prepend_twitter(company.twitter), :target => :blank%><br />
        <%end%>
        <% if company.facebook?%>
           <%= link_to "facebook.com/#{truncate(company.facebook, :length =>10)}", prepend_facebook(company.facebook), :target => :blank%> 
          <br />
        <%end%>
        </div>
    <div class="clear"></div>
    </div>
  <% end %>
</div>
