
<div class="content">
  <% custom_title "Empresas"%>
	<div class="companies_wrapper">
		<div class="companies_sidebar">
			<div class="sidebar_top">
				<p>¿Tu empresa trabaja con Ruby y no est&aacute; en la lista?</p>
				<p><span>¡Reg&iacute;strate ya!</span></p>
				<%= link_to "Regístrarte ahora", new_company_registration_path(), :class => "button"  %>
			</div>
			<div class="sidebar_bottom">
				<p>Mant&eacute;nte informado</p>
				<ul>
				  <li><%= link_to (image_tag "facebook.png", :alt => "FB Rubypros"), "http://www.facebook.com/rubypros" %></li>
				  <li><%= mail_to ("rubypro@rubypros.mx", image_tag("mail.png"))  %></li>
				  <li><%= link_to (image_tag "twitter.png", :alt => "Twitter"), "http://www.twitter.com/rubypros" %></li>
				</ul>
			</div>
			
		</div>


	  <% @companies.each do |company| %>
	    <div class="company_profile shadow">
	        <span>
	        	<h2><%= link_to truncate(company.title, :length =>  55), company_path(company) %></h2>
		        <% unless company.city.blank?%><%= "En #{company.city}" %><br /><%end%>
		        <% if company.twitter?%>
		          <%= link_to "@#{truncate(company.twitter, :length => 20)}", (company.formated_twitter), :target => :blank%><br />
		        <%end%>
		        <% if company.facebook?%>
		          <%= link_to "facebook.com/#{truncate(company.facebook, :length =>10)}", (company.formated_facebook), :target => :blank%> 
		          <br />
		        <%end%>
	        </span>
	        <%if company.logo?%>
	        <%=link_to (image_tag company.logo.url(:medium)), company%>
	        <%end%>

	      <div class="clear"></div>
	   </div>   
		<% end %>
	</div>
	
</div>
