
<div class="content">
  <% custom_title "Compañías"%>
  <h1><%= t ('.companies') %></h1>

  <table id="companies">
    <% @companies.each do |company| %>
      <tr id = "<%= cycle('par','non')%>">
        <td id="logo" width="200px">
          <% if company.logo? %>
            <%= image_tag company.logo.url(:medium) %>
          <% end %>
        </td>
        <td id="company_info">
          <h2><%= link_to company.title, company_path(company) %></h2>
          <%= company.city %>
          <%= truncate(company.description, :length => 80) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
