
<div class="content">
  <% custom_title "Empresas"%>
  <script> $("li#empresas a span").addClass("current")</script>
	<div class="companies_wrapper">
		<div class="companies_sidebar">
			<div class="sidebar_top">
				<p>¿Tu empresa necesita rockstar developers y no est&aacute; en la lista?</p>
				<p><span>¡Reg&iacute;strate ya!</span></p>
				<%= link_to "Registrarte ahora", new_company_registration_path(), :class => "button"  %>
			</div>
			<div class="sidebar_bottom">
				<p>Mant&eacute;nte informado</p>
				<ul>
          <li><%= link_to (image_tag "facebook.png", :alt => "FB Rubypros",:onmouseout=>"this.src='/images/facebook.png'",:onmouseover=>"this.src='/images/facebook1.png'"), "http://www.facebook.com/pages/Ofertas-Hacker/212603935429745", :target=>:_blank %></li>
				  <li><%= mail_to ("rubypro@rubypros.mx", image_tag("mail.png", :onmouseout=>"this.src='/images/mail.png'", :onmouseover=>"this.src='/images/mail1.png'")) %></li>
          <li><%= link_to (image_tag "twitter.png", :alt => "Twitter",:onmouseout=>"this.src='/images/twitter.png'", :onmouseover=>"this.src='/images/twitter1.png'"), "http://www.twitter.com/ofertashacker", :target =>:_blank %></li>
				</ul>
			</div>
		</div>
	  <% @companies.each do |company| %>
	    <div class="company_profile shadow">
	        <span>
	        	<h2><%= link_to truncate(company.title, :length =>  25), company_path(company) %></h2>
            <% unless company.city.blank?%><p><%= "En #{company.city}" %></p><%end%>
		        <% if company.twitter?%>
		          <%= link_to "#{truncate(company.twitter_text, :length => 50)}", (company.formated_twitter), :target => :blank%><br />
		        <%end%>
		        <% if company.facebook?%>
              <%= link_to "#{truncate(company.facebook_text, :length => 50)}", (company.formated_facebook), :target => :blank%> 
		          <br />
		        <%end%>
	        </span>
	        <%if company.logo?%>
	        <%=link_to (image_tag company.logo.url(:list)), company%>
	        <%end%>

	      <div class="clear"></div>
	   </div>   
		<% end %>
	</div>
	
</div>
