<div class="content" >
  <% custom_title @company.title%>
  <script> $("li#perfil a span").addClass("current")</script>
  <div class = "nav-buttons">
    <ul id="prueba">
    <% if current_company && current_company.admin? %>
      <li><%= link_to t('.company_index'), companies_path(), :class => "button"  %></li>
    <% end %>
    <% if can? :update, @company %>
      <li><%= link_to t(:edit), edit_company_path(@company), :class => "button" %></li>
    <% end %>
    <% if can? :manage, @company %>
      <li><%= link_to "Eliminar empresa", company_path(@company), :class => "button", :confirm => "¿Estás seguro de eliminar #{@company.title}?", :method => :delete %></li>
    <% end %>
    </ul>
  </div>

  <div id="logoperfil">
    
  </div>
  <div class="generalForm">
    <div id="left">
      <p><%= image_tag @company.logo.url(:medium) %></p>
      <div class="clear"></div>
      <div id="info">
        <% unless @company.city.blank?%>
          <h2><%= t('.city') %></h2>
          <ul>
            <li><%= @company.city %></li>
          </ul>
        <% end %>
        <%= render :partial => 'contact_info', :locals => {:company => @company}%>
      </div>
      <%= image_tag "shadow.gif" %>
    </div>
    <div id="right">
      <h1><%= @company.title %></h1>
      <div id="job_description">
        <p><%= @company.description ? RedCloth.new(@company.formated_description).to_html.html_safe : "" %></p>
      </div>
      <div class="clear"></div>
      <% unless @company.jobs.blank? %>
            <br />
            <h3>Estamos Buscando:</h3>
            <% @company.latests_jobs.each do |job| %>
              <%= link_to(job_path(job), :class => 'ofertacontenedor')  do %>
		            <div class="oferta">
                  <h2><%= truncate(job.title, :length => 29) %></h2>
                  <h3>
                    <%= truncate(job_info(job),:length => 65) %> 
                  </h3>
                  <ul>
			              <% job.latest_required_skills.each do |rs| %>
			                <li> - <%= truncate(rs.skill_name) %></li>
			              <% end %>
			            </ul>  
		            </div>
		            <%= image_tag "sombra.png" %>
              <% end %>
            <% end %> 
      <% end %>
      </div>
    <div class="clear"></div>
  </div>
</div>

