<div style="background:#304F4F;padding:10px;">
  <%= image_tag "http://ofertashacker.com/images/logo.png" %>
</div>
  <h1><%= @job.title%></h1>
  <h2>Alguien esta interesado tu oferta</h2>
  <p>
  <strong>Nombre: </strong><%= @name%><br />
  <strong>Email: </strong><%= @email %>
  <p>
  <p><%= RedCloth.new(@message).to_html.html_safe %></p>
  </p>
  <hr />
  <p>Gracias por publicar tus ofertas y seguir creciendo con nosotros. Saludos! </p>
  <strong>Equipo de Ofertas Hacker</strong>
  </p>
