  <h2>¡Saludos <%=@job.company.title%>!</h2>
  <h3>
  <span style="color:#00575A;"><%= @name%></span> está interesado en tu vacante <span style="color:#00575A;"><%= @job.title%></span>.<br />
  Su correo es <strong><%=@email%></strong>. <br />
  </h3>
  <p>
  <strong>El mensaje que te dejó es:</strong>
  </p>
  <p><%= RedCloth.new(@message).to_html.html_safe %></p>
  <hr />
  Para contactarlo responde este correo.
  <p>Gracias por publicar tus ofertas y seguir creciendo con nosotros. <br />¡Hasta pronto! </p>
  <strong>Equipo de Ofertas Hacker</strong>
  </p>
  <br />
<img alt="Logo" src="http://ofertashacker-staging.heroku.com/images/logo_email.png" />

