<div class="mainContent clear span-24">
  <%= stylesheet_link_tag "jquery-ui" %>
  <% custom_title "Registro"%>
  <hr noshade="noshade" width="100%" class="topSpacing"/>
  <div class="infoCompany span-4">
    <p>Datos de la empresa</p>
  </div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <div class="generalForm span-12 prepend-1">
        <%= devise_error_messages! %>
          <label><h1><%= t('.title') %></h1></label> 
          <%= f.text_field :title, :required=>"required", :pattern=>"[a-zA-Z ]{5,}" %>

          <label>	<h1><%= t('.email') %></h1>	</label> 
          <%= f.text_field :email, :required=>"required", :type=>"email" %>

          <label>	<h1><%= t('.password') %></h1>	</label> 
          <%= f.password_field :password, :required=>"required" %>

          <label>	<h1><%= t('.password_confirmation') %></h1>	</label> 
          <%= f.password_field :password_confirmation, :required=>"required"%>
        </div>
        <div class="divShadow span-24 buttons">
					    <div class="buttons1 span-5">
						    <div class="cancelButton">
                   <%=link_to "Cancelar", :back%>
						    </div>
						    <div class="calltoAction">
                  <p><%= f.submit "Crear"%></p>
						    </div>
					    </div>
			    </div>
    <% end %>
</div>

