<div class="mainContent clear span-24">
  <%= stylesheet_link_tag "jquery-ui" %>
  <% custom_title "Registro"%>
  <hr noshade="noshade" width="100%" class="topSpacing"/>
  <div class="infoCompany span-4">
    <p>Datos de la empresa</p>
  </div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <div class="generalForm span-12 prepend-1">
        <%= devise_error_messages! %>
          <h1><p><%= f.label :title, t('.title') %><br />
          <%= f.text_field :title, :required=>"required", :pattern=>"[a-zA-Z ]{5,}" %></p>

          <p><%= f.label :email,  t('.email')%><br />
          <%= f.text_field :email, :required=>"required", :type=>"email" %></p>

          <p><%= f.label :password,  t('.password') %><br />
          <%= f.password_field :password, :required=>"required" %></p>

          <p><%= f.label :password_confirmation,  t('.password_confirmation') %><br />
          <%= f.password_field :password_confirmation, :required=>"required"%></p></h1>
        </div><!--/generalForm -->
        <div class="divShadow span-24 buttons">
					    <div class="buttons1 span-5">
						    <div class="cancelButton">
                   <%=link_to "Cancelar", :back%>
						    </div>
						    <div class="calltoAction">
                  <p><%= f.submit "Crear"%></p>
						    </div>
					    </div><!--/buttons1 span-5 -->
			    </div>
    <% end %>
</div>

