  <%= stylesheet_link_tag "jquery-ui" %>
  <% custom_title "Registro"%>
  <hr width="100%" class="topSpacing"/>
  <div class="infoCompany span-4">
    <p>Datos de la empresa</p>
  </div>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <div class="generalForm span-12 prepend-1">
      <%= devise_error_messages! %>
      <h1><%= t('.title') %></h1> 
      <%= f.text_field :title %>

      <h1><%= t('.email') %></h1>
      <%= f.text_field :email %>

      <h1><%= t('.password') %></h1>
      <%= f.password_field :password%>

      <h1><%= t('.password_confirmation') %></h1>
      <%= f.password_field :password_confirmation%>

      <div class='calltoAction'>
        <p><%= f.submit "Registrar" %></p>
      </div>
    </div>
  <% end %>

