<%= stylesheet_link_tag "jquery-ui", "JScrollbar.jquery" %>
<% javascript 'overlay', 'lightbox','jquery-mousewheel', 'jScrollbar.jquery'%>

<% custom_title "Regístrate"%>


<script> $("li#registrate a span").addClass("current")</script>
<div class="infoCompany span-4">
  <p>Datos de la empresa</p>
</div>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :new_company => true)) do |f| %>
  <% if params[:new_company] && !resource.errors.any?%>
    <div id="new_company"><h2>Antes de publicar tu oferta necesitamos tus datos.</h2></div>
  <%end%>
  <div class="generalForm span-12 prepend-1">

    <% if resource.errors.any? %>
      <div id="error_explanation">
        <h2>Revisa de nuevo porfa los siguientes detalles en la forma:</h2>
        <ul>
          <% resource.errors.full_messages.each do |msg| %>
            <li>- <%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>   
    <%= f.label t('.title') %> 
    <%= f.text_field :title %>

    <%= f.label t('.email') %>
    <%= f.text_field :email %>

    <%= f.label t('.password') %>
    <%= f.password_field :password %>

    <%= f.label t('.password_confirmation') %>
    <%= f.password_field :password_confirmation %>
          <div class="overlay terms" id="terms_trigger">
              <h1>Términos de Uso</h1>
	              <div>
	                <%= render '/welcome/terminos' %>
	              </div> 
          </div>
          <div class="overlay terms" id="privacy_trigger">
    <h1>Aviso de Privacidad</h1>
	              <div style="padding-left:13px;">
	                <%= render '/welcome/privacidad' %>
	              </div> 
          </div>
    <p >
    <%= f.check_box :terms_of_service, :checked=>true%>
    Acepto los
    <%= link_to "términos de uso", "#", :rel=>"#terms_trigger" %> y la
    <%= link_to "política de privacidad", "#" , :rel => "#privacy_trigger"%>
    </p>
    <div class='calltoAction'>
      <p><%= f.submit "Registrar" %></p>
    </div>
  </div>
<% end %>

