<div class="mainContent clear span-24">
  <% custom_title "多Olvidaste tu contrase単a?"%>
	<div class="infoCompany span-4">
	  <p>多Olvidaste tu contrase単a?</p>
	</div>
	<div class="generalForm span-12 prepend-1">
    	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		    <%= devise_error_messages! %>

		    <p><%= f.label :email, :requied=>'required' %>
			<span class="desc">el correo con el cual est&aacute;s registrado</span>
		    <%= f.text_field :email %></p>

		    <div class="calltoAction">
          		<p><%= f.submit "Enviar" %></p>
		    </div>
		<% end %>
		<%= render :partial => "companies/shared/links" %>
 	</div><!--/generalform -->
</div>
