  <% custom_title "Nueva cuenta"%>
  <h2>¿Olvidaste tu contraseña?</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <p><%= f.label :email, :requied=>'required' %><br />
    <%= f.text_field :email %></p>

    <p><%= f.submit "Enviar" %></p>
  <% end %>

  <%= render :partial => "companies/shared/links" %>
