<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><%= @content_for_title%>Ofertas Hacker</title>

<!--[if lte IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<%= stylesheet_link_tag 'blueprint/screen', :media=>"screen, projection" %>
<%= stylesheet_link_tag 'blueprint/print', :media=>"print" %>
<%= stylesheet_link_tag 'style', :media=>"screen" %>
<%= stylesheet_link_tag 'extra' %>
<!--[if lte IE 7]>
  <%= stylesheet_link_tag 'style_IElte7', :media=>"screen" %>
<![endif]-->
<!--[if IE 8]>
  <%= stylesheet_link_tag 'style_IE8', :media=>"screen" %>
<![endif]-->
<!--Arvo -->
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo:bold' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "jquery-ui"%>

<%= javascript_include_tag :defaults,'jquery.infinitescroller' %>
<%= javascript_include_tag 'rails', 'metropoli.jquery.ui', 'jquery.tools.min', 'rails.validations' %>
<%= csrf_meta_tag %>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23560876-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};

  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "ofertashacker";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#011616";
  feedback_widget_options.style = "idea";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

<link rel="icon" type="image/png" href="<%= image_path('favicon.ico') %>">
<%= yield(:head) %>

