<div id="header" class="clear full" style='position:static'>
  <div class='full'>
    <div class='container'>
      <div class="span-6">
        <ul class='flags'>
          <% installed_countries_abbreviations.each do |abbr| %>
            <li><%= link_to country_image(abbr), country_jobs_path(country: abbr) %></li>
          <% end %>
        </ul>
      </div>

      <div class="span-18 last topMenu">
        <ul>
          <% if current_company %>
            <li id="ofertas" class="left"><%= link_to "<span>Ofertas</span>".html_safe, ofertas_path() %></li>
            <li id="empresas" class="left"><%= link_to "<span>Empresas</span>".html_safe, empresas_path %></li>
            <li id="salir" class="right"><%= link_to "<span>Salir</span>".html_safe, destroy_company_session_path() %></li>
            <li id="perfil" class="right"><%= link_to "<span>Mi empresa</span>".html_safe, company_path(current_company) %></li>
            <li id="publicar" class="right"><%= link_to "<span>Publicar oferta</span>".html_safe,  nueva_oferta_path() %></li>
            <%if can? :manage, RequiredSkill%>
              <li id="skills" class="left"><%= link_to "<span>Habilidades</span>".html_safe, required_skills_path %></li>
            <%end%>
          <% else %>
            <li id="entrar" class="right"><%= link_to "<span>Iniciar sesión</span>".html_safe, new_company_session_path() %></li>
            <li id="registrate" class="right"><%= link_to "<span>¿Empresa? Regístrate</span>".html_safe, new_company_registration_path()%></li>
            <li id="empresas" class="right"><%= link_to "<span>Empresas</span>".html_safe, empresas_path %></li>
            <li id="ofertas" class="right"><%= link_to "<span>Ofertas</span>".html_safe, ofertas_path() %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
  <div class='main_header full'>
    <div class='container'>
      <div class="logo clear span-6">
        <%= link_to (image_tag "logo.png", :alt=>"Rubypros"), root_path %>
      </div>

      <%= yield :search_form %>
    </div>
  </div>

  <%= yield :search_filters %>
</div>
