		<div id="header" class="clear span-24 last">
		  <ul class="topMenu span-21 prepend-3 last">
          <% if current_company %>
            <li id="salir"><%= link_to "<span>Salir</span>".html_safe, destroy_company_session_path() %></li>
            <li id="perfil"><%= link_to "<span>Perfil</span>".html_safe, company_path(current_company) %></li>
            <li id="publicar"><%= link_to "<span>Publicar oferta</span>".html_safe,  nueva_oferta_path() %></li>
            <li id="ofertas"><%= link_to "<span>Ofertas</span>".html_safe, ofertas_path() %></li>
            <% unless current_company.jobs.empty? %>
              <li id="mis_ofertas"><%= link_to "<span>Mis ofertas</span>".html_safe, my_jobs_company_path(current_company) %></li>
            <% end %>
            <%if can? :manage, RequiredSkill%>
              <li id="skills"><%= link_to "<span>Skills</span>".html_safe, required_skills_path %></li>
            <%end%>
          <% else %>
            <li id="entrar"><%= link_to "<span>Entrar</span>".html_safe, new_company_session_path() %></li>
            <li id="registrate"><%= link_to "<span>¿Empresa?, Regístrate</span>".html_safe, new_company_registration_path()%></li>
            <li id="ofertas"><%= link_to "<span>Ver ofertas</span>".html_safe, ofertas_path %></li>
          <% end %>
          <li id="empresas"><%= link_to "<span>Empresas</span>".html_safe, empresas_path %></li>
		  </ul>
		  
        <div class="logo clear span-6">
          <%= link_to (image_tag "logo.png", :alt=>"Rubypros"), root_path %>
        </div>
			<% unless needs_filter? request.path %>
			  <%= render 'layouts/filter' %>
			<% end%>			
      <%= image_tag "nuevas_ofertas.png", :id=>"nuevas_ofertas"%>
				<a class="twitter" href="http://www.twitter.com/ofertashacker" target="_blank">
				<span>
				</span>
			</a>
		</div>
