<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render 'layouts/head'%>
  </head>

  <body>
    <div class="container">
      <!-- header starts -->
      <div id="header" class="clear span-24 last">
        <%= render 'layouts/header'%>
      </div>

      <% flash.each do |name, msg| %>
        <% unless msg.blank?%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end%>
      <% end %>

      <%= content_tag :h1, yield(:title) if show_title? %>

      <div class="mainContent clear span-24">
        <%= yield %>
      </div>

    </div>
      <%= render 'layouts/footer'%>
  </body>
</html>
