<!DOCTYPE html>
<html>
  <head>
    <title><%= @content_for_title%>Ruby Pros</title>
    <%= stylesheet_link_tag "application", "jquery-ui" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'rails' %>
    <%= javascript_include_tag 'metropoli.jquery.ui' %>

    <%= csrf_meta_tag %>
    
    <%= yield(:head) %>
  </head>
  <body>
    <div id="company">
      <% if current_company %>
        <%= link_to current_company.title, company_path(current_company) %> |
        <%= link_to t('.new_job'),  new_job_path() %> |
        <%= link_to t('.my_vacancies'), jobs_path() %> |
        <%= link_to t('.all_vacancies'), available_path() %> |
        <%= link_to t('.sign_out'), destroy_company_session_path() %>
      <% else %>
        <%= link_to "Entrar", new_company_session_path() %> |
        <%= link_to "¿Empresa?, Regístrate", new_company_registration_path()%>
      <% end %>
    </div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
