<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <!--[if IE 9 ]><html class="ie9" lang="en"> <![endif]-->
  <head>
    <%= render 'layouts/head'%>
  </head>

  <body class='with_filters'>
      <%= render 'layouts/header'%>

      <div class='container'>
        <% flash.each do |name, msg| %>
          <% unless msg.blank?%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end%>
        <% end %>

        <%= content_tag :h1, yield(:title) if show_title? %>

        <div id='content' class="job_search">
          <%= yield %>
        </div>
      </div>
    <%= render 'layouts/footer'%>
  </body>
</html>

