<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render 'layouts/head'%>
  </head>

  <body>
    <div class="container">
      <!-- header starts -->
      <div id="header" class="clear span-24 last">
        <%= render 'layouts/header'%>
        <a class="twitter" href="http://www.twitter.com/innku" target="_blank">
        </a>
      </div>

      <% flash.each do |name, msg| %>
        <% unless msg.blank?%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end%>
      <% end %>

      <%= content_tag :h1, yield(:title) if show_title? %>

        <%= yield %>

    <div id="footer" class="clear span-24 last">
      <ul>
        <li><%= link_to "ofertas", jobs_path %></li>
        <li><%= link_to "publicar ofertas", new_job_path %></li>
        <li><%= link_to "acerca de", acerca_de_path %></li>
      </ul>
    </div>
  </div>
</body>
</html>

